*{
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height:32px;
    width:960px;
    margin-left:225px;
    margin:0 auto;
    background: url(../images/Zircon.jpg);
    background-size: cover;
}

#banner{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(231, 224, 224, 0.5)), url(../images/coding.jpeg);
    height: 100%;
    padding: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.profileImg {
    width: 275px;
    height: 325px;
    border-radius: 50%;
    box-shadow: 0 8px 8px 0;
}

h1{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif, italic;
    font-weight: bold;
    padding-bottom:20px;
    line-height: 49px;
    text-align: center;
    border-bottom: 3px solid;
}

h3 {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.friendsImg, .gemImg, .plateMateImg, .trainImg {
    width: 350px;
    height: 275px;
}


#contact ul{
    padding:0;
    list-style: none;
    text-align: center;
}

#msg{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.my-form{
    padding:20px;
}

.my-form .form-group{
    padding-bottom:15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding:8px;
    width:100%;
}

#main-footer{
    margin: 100px 0 0 0;
    padding:20px;
    background:#333;
    color:#fff;
    text-align: center;
    clear: both;
}

@media (min-width: 300px){
    .container{
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "advert header"
        "advert content"
        "advert footer";
    }
  }
  
  @media (min-width: 400px){
    .wrapper, .container, #main-footer{
    
      grid-template-areas:
        "banner"
        "project"
        "contact"
        "footer";
    }
  }
